<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h1>MONGOOSE FLIGHTS</h1>
    <div class="topnav">
      <a href="#allFlights">ALL FLIGHTS</a>
      <a href="#addFlights">ADD FLIGHTS</a>
    </div>
  </body>
</html>
